.btn{ 
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    margin: 2rem 0rem 1rem 1rem;
    cursor: pointer;
}
.btn-primary{
    background-color: var(--red);
    color: var(--white);
}
.btn-secondary{
    background-color: var(--white);
    color: var(--black);
    outline: 0.1rem solid var(--black);
}

.link-btn,.icon-btn{
    background-color: transparent;
}

.btn-floating{
    border-radius: 50%;
    padding: 1rem 1.2rem;
}